body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #311B92;
    border-color: #311B92;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #1A237E;
    border-color: #1A237E;
}